/*Primary color use list: 
    rgba(59, 90, 157, 1) (blue)
    rgba(255, 166, 51,1) (orange)
    rgba(232, 211, 163,1) (khaki)
    rgba(79, 178, 170, 1) (teal)
    rgba(65, 119, 34, 1) (green)
    rgba(43, 70, 29, 1) (dark green)
    rgba(67, 48, 76, 1) (purple)
    rgba(226, 230, 228, 1) (lightgray)
*/
/*Font Sizes:
    1.8em (company name)
    1em (slogan)
    1.5em (img caption)
    1.2em (article titles)
    20px (article text)
*/

/*#region Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,400;0,700;1,400;1,700&family=Tangerine:wght@400;700&display=swap');

/*#endregion*/
/*#region Header*/
header {
    border: solid;
    border-color: rgba(43, 70, 29, 1);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
}
header img {
    border-radius: 50%;
    overflow: hidden;
    float: left;
    height: 6em;
    margin: .2em;
}
#companyName {
    font-family: Tangerine, serif;
    font-weight: bold;
    display: block;
    font-size: 3em;
    color: rgba(65, 119, 34, 1);
    margin: .2em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}
.slogan {
    font-family: Tangerine, serif;
    font-size: 2em;
    display: inline-block;
    color: rgba(65, 119, 34, 1);
    margin-bottom: .2em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}

.socialLinks li {
    display: inline-block;
}

    .socialLinks li a {
        font-size: 2em;
        color: rgba(65, 119, 34, 1);
        transition: .5s;
    }

.socialLinks li a:hover, .socialLinks li a:active, .socialLinks li a:focus {
    font-size: 2.5em;
    }

.headerColumnLeft {
    width: 80%;
}

.headerColumnRight {
    float: right;
    width: 20%;
    text-align: right;
}

.headerColumnRight ul li {
    padding: 1em;
}
/*#endregion*/

/*#region NavBar*/
.navBar {
    color: #2B461D;
    border: solid;
    border-color: rgba(43, 70, 29, 1);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    border-top: 0;
}

nav ul {
    margin: 0;
    padding: .5em;
}

nav ul li {
    display: inline-block;

}

    nav ul li a {
        padding: .5em 1.2em;
        margin: 0 .5em;
        display: block;
        text-decoration: none;
        color: rgba(43, 70, 29, 1);
        border: solid;
        border-color: rgba(43, 70, 29, .8);
        background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
        transition: .5s ease;
        border-radius: .25em;
    }

        nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
            color: rgba(43, 70, 29, .8);
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2em;
            color: rgba(43, 70, 29, 1);
            background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
            border: solid 1px;
            border-color: rgba(43, 70, 29, .8);
        }
.currentNav {
    font-weight: bold;
}
/*#endregion*/

/*#region Body*/

main {
    font-family: "Fraunces", serif;
}

body {
    background-image: url('/Images/Map_Background_Antique.jpg');
    font-size: 18px;
    margin: 1%;
}

body header img {
    display: inline;
}


.pageTitle {
    text-decoration: underline;
    color: rgba(43, 70, 29, 1);
    text-align: center;
}
.imageCaption {
    font-style: italic;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgba(43, 70, 29, 1);
    text-align: left;
    padding: 1em;
}
.imageCaption2 {
    font-size: 1.4em;
    font-weight: bolder;
    color: rgba(43, 70, 29, 1);
    font-family: Tangerine, serif;
    text-align: center;
}
.siteSectionTitle {
    font-size: 3em;
    color: rgba(43, 70, 29, 1);
    text-align: center;
}
.siteArticleTitle {
    color: rgba(43, 70, 29, 1);
    font-size: 1.2em;
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    padding: 1em;

}
.siteArticle {
    color: #2B461D;
    font-size: 1em;
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    padding: 2em;
}
/*#endregion*/

/*#region finePrint*/
.finePrint {
    font-size: .5em;
    transition: .5s ease;
}

.finePrint:hover {
    font-size: .8em;
    font-style: italic;
}
/*#endregion*/

/*#region Index.html*/

.indexLeftColumn1 {
    width: 25%;
    float: left;
}

.indexLeftColumn1 img {
    width: 90%;
}

.indexRightColumn1 {
    width:73%;
    float: right;
}

.indexLeftColumn2 {
    width: 50%;
    float: left;
}

.indexRightColumn2 {
    width: 50%;
    float: right;
}

.clear {
    clear: both;
    display: block
}
/*#endregion*/

/*#region ContactPage*/

.contactSlot {
    padding: .5em 1.2em;
    display: block;
    margin: .5em 15%;
    text-decoration: none;
    color: rgba(65, 119, 34, 1);
    border: solid;
    border-color: rgba(43, 70, 29, .8);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    font-size: 1.8em;
    border-left: none;
    border-right: none;
}
.address {
    color: rgba(43, 70, 29, 1);
}


/*#endregion*/

/*#region TeamPage*/

.teamLeadProfile {
    color: rgba(43, 70, 29, 1);
    border: solid;
    border-color: rgba(43, 70, 29, .8);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    margin: .5em;
}

.teamProfile {
    color: rgba(43, 70, 29, 1);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    margin: .5em;
}

.teamAside {
    border: solid;
    border-color: rgba(43, 70, 29, .8);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
}

#teamsLeftColumn {
    width: 73%;
    padding: 1%
}

#teamsRightColumn {
    float: right;
    width: 25%;
}
/*#endregion*/

/*#region ClassesPage*/

.classSubjecct:{
    display:
}

div.galleryItem {
    display: inline-block;
    width: 350px;
    border: 1px solid #ccc;
    margin: 10px;
    background-color: white;
}

    div.galleryItem img {
        width: 100%;
        height: auto;
    }

div.galeryItem:hover {
    border: 1px solid darkgrey;
}

div.galleryItem a:hover {
    background-color: darkgrey;
}

#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

/*#endregion*/

/*#region Footer*/
footer {
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    border: solid;
    border-color: rgba(43, 70, 29, 1);
    color: rgba(43, 70, 29, 1);
}

footer ul {
    margin: 0;
    padding: .5em;
}

.backToTop {
    display: inline-block;
} 

.backToTop a {
    padding: .5em 1.2em;
    margin: 0 .5em;
    display: block;
    text-decoration: none;
    color: rgba(43, 70, 29, 1);
    border: solid 3px;
    border-color: rgba(43, 70, 29, .8);
    background-image: linear-gradient(50deg, rgba(255, 166, 1, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5),rgba(226, 230, 228, .2));
    transition: .5s ease;
    border-radius: .25em;

}

    .backToTop a:hover, .backToTop a:active, .backToTop a:focus {
        color: rgba(43, 70, 29, .8);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
        color: rgba(43, 70, 29, 1);
        background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
        border: solid 1px;
        border-color: rgba(43, 70, 29, .8);
    }

footer section.copyright {
    margin: 1em
}


/*#endregion*/