/*Primary color use list: 
    rgba(59, 90, 157, 1) (blue)
    rgba(255, 166, 51,1) (orange)
    rgba(232, 211, 163,1) (khaki)
    rgba(79, 178, 170, 1) (teal)
    rgba(65, 119, 34, 1) (green)
    rgba(43, 70, 29, 1) (dark green)
    rgba(67, 48, 76, 1) (purple)
    rgba(226, 230, 228, 1) (lightgray)
*/
/*Font Sizes:
    1.8em (company name)
    1em (slogan)
    1.5em (img caption)
    1.2em (article titles)
    20px (article text)
*/

/*#region Fonts*/

/*#endregion*/
/*#region Header*/
header {
    border: solid;
    border-color: rgba(43, 70, 29, 1);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
}
header img {
    border-radius: 50%;
    overflow: hidden;
}
#companyName {
    font-weight: bold;
    display: inline;
    font-size: 1.8em;
    color: rgba(65, 119, 34, 1);
}
.slogan {
    font-style: italic;
    font-size: 1em;
    display: inline-flex;
    color: rgba(65, 119, 34, 1);
}

.socialLinks li {
    display: inline-block;
}

    .socialLinks li a {
        font-size: 2em;
        color: rgba(65, 119, 34, 1);
        transition: .5s;
    }

.socialLinks li a:hover, .socialLinks li a:active, .socialLinks li a:focus {
    font-size: 2.5em;
    }
/*#endregion*/

/*#region NavBar*/
.navBar {
    color: #2B461D;
    border: solid;
    border-color: rgba(43, 70, 29, 1);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    border-top: 0;
}

nav ul {
    margin: 0;
    padding: .5em;
}

nav ul li {
    display: inline-block;

}

    nav ul li a {
        padding: .5em 1.2em;
        margin: 0 .5em;
        display: block;
        text-decoration: none;
        color: rgba(43, 70, 29, 1);
        border: solid;
        border-color: rgba(43, 70, 29, .8);
        background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
        transition: .5s ease;
        border-radius: .25em;
    }

        nav ul li a:hover, nav ul li a:active, nav ul li a:focus {
            color: rgba(43, 70, 29, .8);
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2em;
            color: rgba(43, 70, 29, 1);
            background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
            border: solid 1px;
            border-color: rgba(43, 70, 29, .8);
        }
.currentNav {
    text-decoration: underline;
}
/*#endregion*/

/*#region Body*/
body {
    background-image: url('/Images/Map_Background_Antique.jpg');
    font-size: 18px;
    margin-top: 0;
}

body header img {
    display: inline;
}


.pageTitle {
    text-decoration: underline;
    color: rgba(43, 70, 29, 1);
}
.imageCaption {
    font-style: italic;
    font-size: 1.5em;
    font-weight: bolder;
    color: rgba(43, 70, 29, 1);
    display: inline;
}
.imageCaption2 {
    font-size: 1.4em;
    font-weight: bolder;
    color: rgba(43, 70, 29, 1);
    display: inline;
}
.siteSectionTitle {
    font-size: 3em;
    color: rgba(43, 70, 29, 1);
}
.siteArticleTitle {
    color: rgba(43, 70, 29, 1);
    font-size: 1.2em;
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
}
.siteArticle {
    color: #2B461D;
    font-size: 1em;
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
}
/*#endregion*/

/*#region finePrint*/
.finePrint {
    font-size: .5em;
    transition: .5s ease;
}

.finePrint:hover {
    font-size: .8em;
    font-style: italic;
}
/*#endregion*/

/*#region ContactPage*/

.contactSlot {
    padding: .5em 1.2em;
    display: block;
    margin: .5em 15%;
    text-decoration: none;
    color: rgba(65, 119, 34, 1);
    border: solid;
    border-color: rgba(43, 70, 29, .8);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    font-size: 1.8em;
    border-left: none;
    border-right: none;
}
.address {
    color: rgba(43, 70, 29, 1);
}


/*#endregion*/

/*#region TeamPage*/

.teamLeadProfile {
    color: rgba(43, 70, 29, 1);
    border: solid;
    border-color: rgba(43, 70, 29, .8);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    margin: .5em;
}

.teamProfile {
    color: rgba(43, 70, 29, 1);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    margin: .5em;
}

.teamAside {
    border: solid;
    border-color: rgba(43, 70, 29, .8);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
}
/*#endregion*/

/*#region ClassesPage*/

.classSubjecct:{
    display:
}

div.galleryItem {
    display: inline-block;
    width: 350px;
    border: 1px solid #ccc;
    margin: 10px;
    background-color: white;
}

    div.galleryItem img {
        width: 100%;
        height: auto;
    }

div.galeryItem:hover {
    border: 1px solid darkgrey;
}

div.galleryItem a:hover {
    background-color: darkgrey;
}

#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}

/*#endregion*/

/*#region Footer*/
footer {
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    border: solid;
    border-color: rgba(43, 70, 29, 1);
    color: rgba(43, 70, 29, 1);
}
.backToTop {
    padding: .5em 1.2em;
    margin: 0 .5em;
    display: inline-block;
    text-decoration: none;
    color: rgba(43, 70, 29, 1);
    border: solid;
    border-color: rgba(43, 70, 29, .8);
    background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
    transition: .5s ease;
    border-radius: .25em;
}
    .backToTop a:hover, .backToTop a:active, .backToTop a:focus {
        color: rgba(43, 70, 29, .8);
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
        color: rgba(43, 70, 29, 1);
        background-image: linear-gradient(50deg, rgba(255, 166, 51, .85), rgba(232, 211, 163, .5), rgba(226, 230, 228, .5), rgba(226, 230, 228, .2));
        border: solid 1px;
        border-color: rgba(43, 70, 29, .8);
    }

.backToTop {
    margin: .5em;
}
/*#endregion*/