/*Primary color use list: 
    #3B5A9D (blue)
    #FFA633 (orange)
    #E8D3A3 (khaki)
    #4FB2AA (teal)
    #63812C (green)
    #2B461D (dark green)
    #43304C (purple)
    #E2E6E4 (lightgray)
*/
/*Font Sizes:
    20 px (company name), 
    18px (slogan),
    24px (img caption)
    18 px (article titles)
    13px (article text)
*/
header {
    background-color: #E2E6E4;
    color: #2B461D;
    border: solid;
    border-color: #2B461D;
}
body {
    background-color: #E2E6E4;
}
.navBar {
    background-color: #E2E6E4;
    color: #2B461D;
    border: solid;
    border-color: #2B461D;
}
#companyName {
    color: #63812C;
    font-weight: bold;
    font-size: 20px;
}
.slogan {
    font-style: italic;
    font-size: 18px;
}
.pageTitle {
    text-decoration: underline;
    color: #3B5A9D;
}
.imageCaption {
    text-decoration: underline;
    font-size: 24px;
    font-weight: bolder;
    color: #3B5A9D;
}
.imageCaption2 {
    font-size: 24px;
    font-weight: bolder;
    color: #3B5A9D;
}
/*Why aren't these 3 working??*/
.siteSectionTitle {
    color: #3B5A9D;
}
.siteArticleTitle {
    color: #63812C;
    font-size: 18px;
    background-color: #E8D3A3;
}
.siteArticle {
    color: #2B461D;
    font-size: 15px;
    background-color: #E8D3A3;
}

.finePrint {
    font-size: 8px;
}
footer {
    background-color: #E2E6E4;
    color: #2B461D;
    border: solid;
    border-color: #2B461D;
}